<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.mmobile.erp</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/mustafa/Desktop/test/erp_startup.sh</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/mustafa/Desktop/test</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <false/>

    <key>StandardOutPath</key>
    <string>/Users/mustafa/Desktop/test/erp_agent.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/mustafa/Desktop/test/erp_agent_error.log</string>
</dict>
</plist>
